*{
  /*border: 1px solid white;*/
  box-sizing: border-box;
}
body, html {
  margin:0;
  padding: 0;
  background-color: rgba(1,1,1,0.6);
  color: white;
}
h1{
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.menu-container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}
.menu-list {
  width: 80%;
  height: 80%;
  margin: 10px auto;
  text-align: center;
  display: flex;



}
.menu-item {
  display: inline-block;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
.special {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;

}
.menu-item:hover {
  background-color: rgba(1,1,1,1);
  color: white;
  border-bottom: 1px solid lightgrey;
}
nav>ul>li {
  margin: 0 auto;
}
.container {
  margin: 120px 15% 0px 15%;

}
h1 {
  text-align: center;
  line-height: 1.3em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.6em;
  text-transform: uppercase;
}
p{
  font-family: Roboto;
  font-size: 1.4em;
  font-weight: 100;
  text-align: justify;
  line-height: 1.8em;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
    color: white;
}
/* selected link */
a:active {
    color: lightgrey;
}
.anchor {
  /*solves the problem of fixed nav of 120px height*/
  padding-top: 120px;
  margin-top: -120px;
}
