*{
  /*border: 1px solid white;*/
  box-sizing: border-box;
}
body, html {
  margin:0;
  padding: 0;
  background-color: rgba(1,1,1,0.6);
  color: white;
}
h1{
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

.menu-container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.menu-container-small {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

}
/*transition menu*/
nav, a, li, ul{
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
}
.menu-list {
  width: 80%;
  height: 80%;
  margin: 10px auto;
  text-align: center;
  display: flex;
}
.menu-list-small {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.menu-item {
  display: inline-block;
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
.menu-item-small {
  display: inline-block;
  padding: 05px 20px;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 10px auto;
}
.special {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;

}
.menu-item:hover {
  background-color: rgba(1,1,1,1);
  color: white;
  border-bottom: 1px solid lightgrey;
}
nav>ul>li.menu-item{
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 100;
}
.container {
  margin: 120px 15% 0px 15%;

}
h1 {
  text-align: center;
  line-height: 1.3em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.6em;
  text-transform: uppercase;
}
p{
  font-family: Roboto;
  font-size: 1.4em;
  font-weight: 100;
  text-align: justify;
  line-height: 1.8em;
  padding-bottom: 1em;
  margin-bottom: 0;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
    color: white;
}
/* selected link */
a:active {
    color: lightgrey;
}
.anchor {
  /*solves the problem of fixed nav of 120px height*/
  padding-top: 120px;
  margin-top: -120px;
}


/*hover fancy effect*/

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
